* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bs-warning);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
  }


.animate-slideIn {
    animation: slide 0.5s ease-in-out both;
    -webkit-animation: slide 0.5s ease-in-out both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(0.6rem);
        -webkit-transform: translateY(0.6rem);
        -moz-transform: translateY(0.6rem);
        -ms-transform: translateY(0.6rem);
        -o-transform: translateY(0.6rem);
}

    100% {
        opacity: 1;
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
}
}


html {
    overflow-x: hidden;
}

header {
    z-index: 1000;
}

nav {
    background: var(--bs-primary);
    color: white;
}

/* width */
nav ::-webkit-scrollbar {
    width: 3px;
  }

.main-cat-btn {
    font-weight: bold;
    color: var(--bs-warning);
    background: var(--bs-primary);
    border: 2px solid var(--bs-warning);
}

.main-cat-btn:is(:focus,:hover) {

    background: var(--bs-warning);
    color: var(--bs-dark);

}





.menu {
    display: none;
    z-index: 550;
    background: #19265591;
    min-width: 16rem;
    top: 100%;
    left: 1%;
}


ul li {
    list-style: none;
    border-bottom: 1px solid rgb(112, 111, 111);
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

li a {
    color: #ffffff;
    padding: 0.5rem 0rem;
    text-decoration: none !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

li a p {
    margin: 0px;
}

li a:hover {
    color: #f5cb10fd;
}

ul li:last-child {
    border: none;
}

.sub-menu {
    display: none;
    margin: 15%;
    position: absolute;
    left: 100%;
    top: 0;
    background: #19265591;
    z-index: 800;
    min-width: 15rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.sub-menu li {
    padding: 0.6rem;
}

.menu>li:hover>.sub-menu {
    display: block;
}


.info {
    height: 100%;
    width: 100%;
    background: #FFC107;
    color: white;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.info button {
    background: #1F4172;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}

.info button:hover,
.info button:focus {
    background: #0d50af;
    color: white;

}


.cat-menu {
    overflow: hidden;
}


.cat-menu:hover .info {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}



/* category menu */





/* letest product */


.letest-product h1 {
    background-color: #192655;
    border-color: #FFC107 !important;
    color: white;
    padding: 1rem !important;
}



/* letest product */



/* card style  */
.card {
    border-color: transparent;

}

.card>p {
    top: 5%;
    background: #192655;
}


.card h5 {
    color: #1F4172;
}


.card a:nth-child(1) {
    background: #1F4172;
    font-weight: bold;
    opacity: 0.9;
}

.card a:nth-child(2) {
    background: #FFC107;
    font-weight: bold;
    opacity: 0.9;
}


/* card style */


/* scroll top */
.scroll-top {
    z-index: 600;
    bottom: 3%;
    right: 3%;
}

.scroll-top a {
    background: var(--bs-warning);
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.scroll-top a:hover {
    background: var(--bs-primary);
}


/* scroll top */




/* footer */
footer li {
    border: none;
}




/* footer */